*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
.env
.env.example
JuliaHealthLLM_exp_raw_combined.txt

# benchmark/data files
benchmark_result_*.json
synthea_1M_3YR.duckdb
train.jsonl
nul
FunSQLQueries/