*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
.env
.env.*
!.env.example
demo/JuliaHealthLLM_exp_raw_combined.txt
.env.example
.env
E:\HealthLLM.jl\demo\JuliaHealthLLM_exp_raw_combined.txt
cacert.pem